.btn {
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: white;
  color: #221e1e;
  border: 4px solid #221e1e;
  margin: 10px 40px;
  padding: 10px 40px 10px 40px;
  font-weight: 600px;
  cursor: pointer;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

